#nav {
  height: 100vh;
  background-color: white;
  width: 80vw;
  margin: 0 auto;
  box-shadow: 2px 0px 7px 1px rgba(189, 189, 189, 0.7);
  position: fixed;
  top: 0;
  right: 110vw;
  font-size: 4.9vmin;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  user-select: none;
  z-index: 101;
}

#nav p {
  margin: 8vw 0 6vw 0;
  cursor: pointer;
}

#nav svg {
  width: 100%;
  position: relative;
  top: 5vmin;
  left: 0;
}

#nav i {
  margin-right: 5%;
}

#textWrapper {
  width: 80%;
}

#usernameField {
  font-size: 4.5vmin;
  margin: 4vh 0 0 0 !important;
}

#iconWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signOut {
  cursor: pointer;
}

#signOut i {
  margin: 0 0 10vh 0;
  transform: rotate(180deg);
}

#disableNav {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}

@media screen and (min-aspect-ratio: 1/1) {
  #nav {
    width: 100vw;
    height: 9vh;
    top: 0;
    right: 0;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow-y: hidden;
  }

  #nav svg {
    display: none;
  }

  #textWrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  #iconWrapper {
    width: auto !important;
  }

  #nav p {
    display: flex;
    margin: 0 !important;
    padding: 0 1vw;
  }

  #usernameField {
    display: none !important;
  }

  #nav hr {
    display: none;
  }

  #signOut i {
    margin: 0;
  }

  #navTitle {
    display: block !important;
    margin: 0 7vw 0 0;
    font-size: 1.2vw;
  }

  #iconWrapper {
    margin: 0 0 0 7vw;
  }

  #navTitle, #iconWrapper {
    width: 10vw !important;
  }

  #infoNav {
    display: none !important;
  }
}