body {
    width: 80vw;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

#button {
    border-radius: 3px;
    padding: 2vw;
    color: white;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    letter-spacing: .35px;
    user-select: none;
    outline: none;
    text-decoration: none;
    background: #486491;
}