:root {
    --main: #486491;
    --google: #4285F4;
    --link: #6495ed;
}

.light {
    --bg: #fff;
    --header-bg: #fff;

    --icon-color: #f2f2f2;
    --font-color: #000;

    --button-ok-bg: #03a87c;
    --button-ok-color: #fff;
    --button-bad-bg: #ee5a5a;
    --button-bad-color: #fff;
    
    --current-theme-icon: #17c932;

    --shadow-color: #dbdbdb;

    --success-bg: #1b3647;
    --success-color: #fff;

    --loader-ellipsis: #666;

    --custom-theme-icon: #353535;
}

.dark {
    --bg: #282c34;
    /* --bg: #21252b; */
    --header-bg: #333842;

    --font-color: #fbfbfb;
    --icon-color: var(--font-color);

    --button-ok-bg: #03a87c;
    --button-ok-color: #fff;
    --button-bad-bg: #ee5a5a;
    --button-bad-color: #fff;
    
    --current-theme-icon: #17c932;

    --shadow-color: #4f535c;

    --success-color: #1b3647;
    --success-bg: #fff;

    --loader-ellipsis: #ccc;

    --custom-theme-icon: var(--icon-color);
}