:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--primary);

  fa-icon::ng-deep svg {
    width: auto;
    height: 1.7em;
  }
}
