@import "src/assets/scss/form";

:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#searchWrapper {
  padding: 1rem;

  .input-wrapper {
    margin: 0;
  }
}

.entry {
  width: 80%;
  padding: .7rem 1rem;
  margin: .5rem 0;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;

  .entry-content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .entryState {
    opacity: .5;
    font-size: 1rem;
  }

  .icon-wrapper {
    width: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;

    mat-icon {
      margin-top: .2rem;
    }
  }
}
