<form id="searchWrapper">
  <div class="input-wrapper">
    <input (input)="searchConditionChange()" [(ngModel)]="searchCondition" autocomplete="off" name="search"
           placeholder="Search">
  </div>
</form>

<div *ngFor="let e of entries" class="entry">
  <div class="entry-content">
    <span><b>Reason:</b> {{ e.reason }}</span>
    <span><b>Date:</b> {{ e.date | date: 'dd.MM.yyyy' }}</span>
    <span><b>Amount:</b> {{ e.amount | amount }}€</span>
    <span *ngIf="e.deleted" class="entryState">{{ getEntryStateText(e) }}</span>
  </div>

  <div class="icon-wrapper">
    <mat-icon (click)="delete(e)" color="warn">delete</mat-icon>
    <mat-icon (click)="openDialog(e)" color="primary">edit</mat-icon>
  </div>
</div>
