<div id="tabs-wrapper">
  <span [class.active]="isMoney" routerLink="/create/money">Money</span>
  <span [class.active]="!isMoney" routerLink="/create/object">Object</span>
</div>

<form>
  <div class="input-wrapper">
    <label>Debtors</label>
    <mat-chip-list #chipList>
      <div id="chips-wrapper">
        <mat-chip *ngFor="let d of selectedDebtors" (removed)="removeSelectedDebtor(d)">
          {{ d }}

          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>

      <input
        (blur)="handleBlur()"
        (focus)="autocompleteState = true"
        [class.invalid]="debtorControl.errors && debtorControl.touched"
        [formControl]="debtorControl"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event.value)"
        placeholder="Debtor"
        autocomplete="off"
        name="debtor"
        type="text">
    </mat-chip-list>

    <span *ngIf="debtorControl.errors && debtorControl.touched && !autocompleteState"
          class="error">Debtors must not be empty</span>

    <app-autocomplete *ngIf="autocompleteState"
                      (selectedValue)="add($event)"
                      [currentValue]="debtorControl.value"
                      [options]="autocompleteOptions">
    </app-autocomplete>
  </div>

  <div class="input-wrapper">
    <label>Date</label>
    <input
      [class.invalid]="dateControl.errors && dateControl.touched"
      [formControl]="dateControl"
      name="date"
      placeholder="Date"
      autocomplete="off"
      type="date">
    <span *ngIf="dateControl.hasError('required') && dateControl.touched"
          class="error">Date must not be empty</span>
  </div>

  <div *ngIf="false" class="input-wrapper">
    <label>Repeats</label>
    <input [class.invalid]="repeatControl.errors && repeatControl.touched"
           [formControl]="repeatControl"
           name="repeats"
           placeholder="Repeats"
           autocomplete="off"
           type="text">
    <span *ngIf="repeatControl.hasError('required') && repeatControl.touched"
          class="error">Repeats must not be empty</span>
  </div>

  <div class="input-wrapper">
    <label>Reason</label>
    <input [class.invalid]="reasonControl.errors && reasonControl.touched"
           [formControl]="reasonControl"
           name="repeats"
           placeholder="Reason"
           autocomplete="off"
           type="text">
    <span *ngIf="reasonControl.hasError('required') && reasonControl.touched"
          class="error">Reason must not be empty</span>
  </div>

  <div *ngIf="!isMoney" class="input-wrapper">
    <label>Object</label>
    <input [class.invalid]="objectControl.errors && objectControl.touched"
           [formControl]="objectControl"
           autocomplete="off"
           name="object"
           placeholder="Object"
           type="text">
    <span *ngIf="objectControl.hasError('required') && objectControl.touched"
          class="error">Object must not be empty</span>
  </div>

  <div class="input-wrapper">
    <label>Amount</label>
    <input [class.invalid]="amountControl.errors && amountControl.touched"
           [formControl]="amountControl"
           name="repeats"
           placeholder="Amount"
           autocomplete="off"
           type="number">
    <span *ngIf="amountControl.hasError('required') && amountControl.touched"
          class="error">Amount must not be empty</span>
  </div>
</form>

<!--<span *ngIf="responseError" class="error" id="responseError">{{ responseError }}</span>-->

<div id="button-wrapper">
  <button (click)="create()" (keydown.enter)="create()" [disabled]="!isValid()"
          class="button btn-primary">Create
  </button>
</div>
