:host {
  .page-container {
    height: 83vh;
    overflow: hidden scroll;
  }

  mat-drawer-container {
    height: 100vh;

    mat-drawer {
      width: 75vw;
    }
  }

  app-header {
    height: 7vh;
  }

  app-footer {
    height: 10vh;
    position: fixed;
    bottom: 0;
  }

  button {
    position: fixed;
    left: 5vw;
    top: 83vh;
  }
}
