:host {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .input-wrapper {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 0 0 3vh 0;

      label {
        margin: 0 0 1vh 0;
      }

      input {
        width: 100%;
        padding: .65em;
        box-shadow: var(--box-shadow);
        background: transparent;
        box-sizing: border-box;
        outline: none;
        border: none;
        border-bottom: 2px solid lightgray;
        border-radius: 5px;
        transition: border-color 300ms ease-in-out;

        &:focus {
          border-color: var(--primary);
        }
      }

      .invalid {
        border-color: var(--danger) !important;
      }
    }
  }

  #responseError {
    width: 80%;
    margin-bottom: 2vh;
  }

  #button-wrapper {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }

  #registerLink {
    margin-top: 2vh;
  }
}
