@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary: #486491;
  --white: #fff;
  --ok: #5cb45f;
  --danger: #dc5656;
  --box-shadow: 1px 1px 9px 0 #dbdbdb;
  --link: #319ffc;
  --dark-gray: #353535;
}

body {
  width: 100vw;
  overflow: hidden scroll;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

// general style
.button {
  padding: 10px 20px;
  font-size: 3vw;
  border: none;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  outline: none;

  &:disabled {
    opacity: .5;
    cursor: default;
  }
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-ok {
  background: var(--ok);
  color: var(--white);
}

.btn-danger {
  background: var(--danger);
  color: var(--white);
}

.error {
  color: var(--danger);
  font-size: 3vw;
  margin: .5vh 0 0 1vw;
}

.link {
  color: var(--link);
}
