:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.debtor {
  width: 80%;
  padding: .7rem 1rem;
  margin: .5rem 0;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .name {
    width: 70%;
  }

  .amount {
    width: 30%;
    text-align: right;
  }
}
